.logo {
    height: 30px;
    padding-right: 25px;
   
}
*{
  font-family: 'Oswald', sans-serif;
}
.flex-con {
  
    display: flex;
    background-color: rgb(79, 112, 230);
    padding-top: 13px;
    padding-bottom: 13px;
   
    margin: 0;
    margin-bottom: 3px;
    position:sticky;

    padding-right: 40px;
  
}

.search {
    margin-left: auto;
    border-radius: 15px; 
     padding-left: 15px;
    border: 1px solid rgb(79, 112, 230); 
    width: 10vw;
}

li {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;

}

li a {
    text-decoration: none;
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}

li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(252, 255, 251);   
}


.head{ 
    width: 100%;
    height: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.top-left {
    position: absolute;
    top: 77px;
    left: 45px;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    font-size: xx-large;
  }